*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html,
body {
	min-height: 100%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
	height: 100%;
	padding: 120px 50px;
}

@media (max-width:767px) {
	.wrapper {
		padding: 80px 0px 0px 0px;
	}
}




/* ================================= */

.container {
	max-width: 1180px;
	margin: 0px auto;
	padding: 0px 10px;
}

/* =======header====================== */

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}

.header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #5e5373;
	z-index: 2;
}

.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}

.header__logo {
	flex: 0 0 60px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	z-index: 3;
}

.header__logo img {
	max-width: 100%;
	display: block;
}

.header__burger {
	display: none;
	cursor: pointer;
}


.header__list {
	display: flex;
	position: relative;
	z-index: 2;
}

.header__list li {
	list-style: none;
	margin: 0px 0px 0px 20px;
}

.header__link {
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	text-decoration: none;
}

@media (max-width:767px) {
	body.lock {
		overflow: hidden;
	}

	.header__body {
		height: 50px;
	}

	.header__logo {
		flex: 0 0 40px;
	}

	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
	}

	.header__burger span {
		position: absolute;
		background-color: #fff;
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}

	.header__burger:before,
	.header__burger:after {
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}

	.header__burger:before {
		top: 0;
	}

	.header__burger:after {
		bottom: 0;
	}

	.header__burger.active span {
		transform: scale(0);
	}

	.header__burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}

	.header__burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.header__menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		transition: all 0.3s ease 0s;
		background-color: #18b5a4;
		padding: 70px 10px 20px 10px;
	}

	.header__menu.active {
		top: 0;
	}

	.header__list {
		display: block;
	}

	.header__list li {
		margin: 0px 0px 20px 0px;
	}

	.header__link {
		font-size: 24px;
	}
}




/* ========spoiler======================= */


.block__item {
	margin: 0px 0px 20px 0px;
}

.block__title {
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
	padding: 0px 0px 0px 30px;
	cursor: pointer;
}

.block__title:before,
.block__title:after {
	width: 10px;
	height: 1px;

	content: '';

	position: absolute;
	top: 8px;
	background-color: #000;
	transition: all 0.3s ease 0s;
}

.block__title:before {
	transform: rotate(40deg);
	left: 0;
}

.block__title:after {
	transform: rotate(-40deg);
	left: 8px;
}

.block__title.active:before,
.block__title.active:after {
	background-color: red;
}

.block__title.active:before {
	transform: rotate(-40deg);
}

.block__title.active:after {
	transform: rotate(40deg);
}

.block__text {
	display: none;
	padding: 10px 0px 0px 0px;
}


/* ============form========================= */

.block-form {
	padding: 20px 0 50px;
}

.block-form__title {
	font-size: 40px;
	margin-bottom: 30px;
}

.block-form__input {
	margin-bottom: 30px;
}

/* Основные стили */
.checkbox {
	font-size: 16px;
	line-height: 20px;
	padding: 0px 0px 0px 70px;
	position: relative;
	cursor: pointer;
	color: #b2b2b2;

	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}

.checkbox.active {
	color: #000;
}

.checkbox.active:before {
	background-color: #5e5373;
}

.checkbox.active:after {
	background-color: #5e5373;
	left: 25px;
}

.checkbox:before {
	content: '';
	width: 50px;
	height: 20px;
	border-radius: 20px;
	background-color: #bfc0c4;
	position: absolute;
	left: 0;
	top: 0;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);

	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}

.checkbox:after {
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	left: 0;
	top: -5px;
	background-color: #bfc0c4;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);

	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}

.checkbox input {
	display: none;
}


.radiobuttons__item {
	position: relative;
	padding: 0px 0px 0px 45px;
	font-size: 16px;
	line-height: 30px;
	color: #b2b2b2;
	margin-bottom: 20px;

	cursor: pointer;

	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}

.radiobuttons__item.active {
	color: #000;
}

.radiobuttons__item.active:after {
	transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
}

.radiobuttons__item:before {
	content: '';
	width: 30px;
	height: 30px;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #bfc0c4;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.radiobuttons__item:after {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 5px;
	top: 5px;
	background-color: #5e5373;
	content: '';
	border-radius: 50%;

	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;

	transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	-o-transform: scale(0);
}

.radiobuttons__item input {
	display: none;
}

.button {
	line-height: 60px;
	display: inline-block;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 8px;
	padding: 0px 30px;
	font-size: 18px;
	border-radius: 25px;
	background-color: #bfc0c4;

	position: relative;
	overflow: hidden;

	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}

.button span {
	position: relative;
	z-index: 2;
}

.button:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	border-radius: 25px;
	left: 0;
	background-color: #5e5373;

	transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	-o-transform: scale(0);

	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}

.button:hover {
	color: #fff;
}

.button:hover:before {
	transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
}



/* +++++++++timer++++++++++++ */

.wrap-timer {
	min-height: 200px;
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:  #bfc0c4;
}

.timer {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: relative;
}
.timer:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	z-index: 3;
	background-color: #fff;
	animation: mask_left 10s steps(1, end) forwards;
}
.timer:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	z-index: 3;
	background-color: #5e5373;
	animation: mask_right 10s steps(1, end) forwards;
}

.timer__line {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	animation: line 10s linear forwards;
}

.timer__line:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background-color: #5e5373;
}

.timer__body {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color:  #bfc0c4;
	text-align: center;
	overflow: hidden;
	z-index: 4;
}
.timer__counter {
	animation: counter 10s steps(9, end) forwards;
}
.timer__counter span {
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
}

@keyframes counter {
	0% {
	}
	100% {
		transform: translate(0px, -900px);
	}
}
@keyframes line {
	0% {
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes mask_left {
	0% {
		visibility: visible;
	}
	50%,
	100% {
		visibility: hidden;
	}
}
@keyframes mask_right {
	0% {
		visibility: hidden;
	}
	50%,
	100% {
		visibility: visible;
	}
}




/* ==========adaptive-image=================== */


.content {
	padding: 10px 0px 0px 0px;
}

.content__text {
	font-size: 18px;
	line-height: 25px;
}

.content__text p {
	margin: 0px 0px 20px 0px;
}

/* @media (max-width:767px) {
	.content {
		padding: 70px 0px 0px 0px;
	}
} */

/* ======================================= */


.title{
	margin: 0px 0px 20px 0px;
	font-size: 30px;
}

/* Картинки в тексте */
.text {
	margin: 0px 0px 80px 0px;
}
/* Контейнер картинки */
.text__image {
	margin: 0px 0px 20px 0px;
	text-align: center;
}
/* Картинка */
.text__image img{
	max-width: 100%;
}
.text__value {}
.text__value p{
	margin: 0px 0px 20px 0px;
}

/* Картинки в карточке */
.cards {
	margin: 0px 0 70px 0;
}
.cards__row{
	margin: 0px -15px 70px -15px;
	display: flex;
}



.cards__column {
	flex: 0 1 33.333%;
	padding: 0px 15px;
}
.cards__item {
}

@media (max-width: 1000px) {
	.cards__row {
flex-direction: column;
justify-content: center;
margin: 0 0 70px 0;
	}

	.cards__column {
		padding: 30px 15px;
	}
}
/* Контейнер картинки */
.cards__image {
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 58% 0px;
	overflow: hidden;
	position: relative;
}
/* Картинка */
.cards__image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}
.cards__body {

}

/* Картинки в карточке №2 */

.items__item {
	display: flex;
	margin: 0px 0px 30px 0px;
}


/* Контейнер картинки */
.items__image {
	flex: 0 0 33.333%;
	position: relative;
	min-height: 150px;
}
/* Картинка */
.items__image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}

.items__item  .items__body {
	flex: 1 1 auto;
	padding: 0px 0px 0px 30px;
}
.items__label {
	font-size: 20px;
	font-weight: 700;
	display: inline-block;
	margin: 0px 0px 20px 0px;
}
.items__text {
padding: 10px;
}


@media (max-width: 600px) {
	.items__item {
flex-direction: column;
justify-content: center;
margin: 0 0 50px 0;
	}

	.items__item  .items__body {
		padding: 30px 0px 0px 30px;
	}
}


/* --------starratingг-------- */

.starrating {
	padding: 50px 0;
}


.form_margin {
	margin: 0px 0px 30px 0px;
}
.form__item {
	margin: 0px 0px 30px 0px;
}
.form__label {
	margin: 0px 0px 10px 0px;
}
.form__btn {
	height: 50px;
	background-color: #77608d;
	padding: 0px 30px;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}
/* ------------------- */
/* --Простой рейтинг-- */
/* ------------------- */
.simple-rating {
	position: relative;
	font-size: 40px;
	display: inline-block;
}
.simple-rating::before {
	content: "★★★★★";
	display: block;
}
.simple-rating__items {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row-reverse;
	overflow: hidden;
}
.simple-rating__item {
	position: absolute;
	width: 0%;
	height: 0%;
	opacity: 0;
	visibility: hidden;
	top: 0;
	left: 0;
}
.simple-rating__label {
	flex: 0 0 20%;
	height: 100%;
	cursor: pointer;
	color: #fff;
}
.simple-rating__label::before {
	content: "★";
	display: block;
	transition: color 0.3s ease 0s;
}

.simple-rating__item:checked,
.simple-rating__item:checked ~ .simple-rating__label {
	color: #ffd300;
}
.simple-rating__label:hover,
.simple-rating__label:hover ~ .simple-rating__label,
.simple-rating__label:checked ~ .simple-rating__label:hover {
	color: #ffef9f;
}




/* ++++++adaptive-video+++++++++++++++++ */


.content, .ww {
	position: relative;
	z-index: 5;
	background-color: #bfc0c4;
}
.content__container {
	max-width: 1200px;
	margin: 0px auto;
	padding: 50px 15px;
	font-size: 18px;
	line-height: 150%;
}
.content__container p {
	margin: 0px 0px 20px 0px;
}


/* Адаптив */
/* aspect-ratio: 16 / 9; */

.items {
	padding: 50px 0;
}
.items__container {
	max-width: 1200px;
	padding: 0px 15px;
	margin: 0px auto;
}
.items__bodys {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
/* .item {
} */
.item__video {
	position: relative;
	margin: 0px 0px 15px 0px;
	padding: 0px 0px  56% 0px;
}
.item__video video,
.item__video iframe {
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.item__text {
	font-size: 18px;
	line-height: 150%;
}


/* -------page-adaptive-------- */

.page-adaptive {
	padding: 50px 0;
}
.page__block-adaptive {
	margin-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (1200 - 320)));
}
/* ------------------ */

.block_one-adaptive .block__body-adaptive {
	background-color: #77608d;
}
.block_two-adaptive .block__body-adaptive {
	background-color: #bfc0c4;
}
.block_three-adaptive .block__body-adaptive {
	background-color: #eb8698;
}
.block__container-adaptive {
	max-width: 1200px;
	padding: 0px 15px;
	margin: 0px auto;
}
.block__body-adaptive {
	padding: calc(20px + (50 - 20) * ((100vw - 320px) / (1180 - 320)));
}
.block__title-adaptive {
	font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1180 - 320)));
	line-height: 130%;
	margin-bottom: calc(10px + (20 - 10) * ((100vw - 320px) / (1180 - 320)));
}
.block__text-adaptive {
	font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1180 - 320)));
	line-height: 150%;
}

/* ------------------ */




/* --video background---------------- */

.wrap {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	/*
	justify-content: center;
	align-items: center;
	 */
}


/* Фуллскрин */

.full-screen {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.full-screen__body {
	padding: 50px 15px;
	background-color: rgba(0, 0, 0, 0.3);
	position: relative;
	z-index: 2;
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-transform: uppercase;
	color:#5e5373;
	text-shadow: 7px 5px 5px #0c0b0c;

}
.full-screen__title {
	font-size: 50px;
	letter-spacing: 25px;
	font-weight: 700;
	margin: 0px 0px 20px 0px;
}
.full-screen__text {
	font-size: 18px;
	letter-spacing: 15px;
}
.full-screen__video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* -------icons----------- */

.links {
	padding: 30px;
	background-color:#bfc0c4;
}

.link {
	font-size: 20px;
	color: #5e5373;
	transition: all 0.3s ease 0s;
	text-shadow: 0 2px 2px #000;
	text-decoration: none;
	display: inline-block;
	margin: 20px;
}
.link::before {
	margin: 0px 10px 0px 0px;
	font-size: 50px;
}
.link:hover {
	color: #fff;
}